<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.examcard.mapper.UserMapper">

	<select id="selectUser" resultType="com.examcard.repository.entity.UserEntity">
		select
			c.id,
			c.sei,
			c.mei,
			c.mail,
			c.tel,
			c.address1,
			c.address2,
			c.address3, c.address4
		from
			customer c
		inner join
			login l
		on
			c.id = l.id
		where
			c.mail = #{mail}
			and l.password = #{password}
			and c.is_deleted = false
			and l.is_deleted = false
	</select>

	<select id="selectUserById" parameterType="java.lang.String" resultType="com.examcard.repository.entity.UserEntity">
		SELECT
        c.ID,
        c.SEI,
        c.MEI,
        c.MAIL
		FROM
        customer c
		WHERE
        c.ID = #{id}
			AND c.is_deleted = false
	</select>
</mapper>